
.flex-container {
    display: flex;
    width: 100%;
}

/* SVG Styles */
svg {
    width: 1250px;
    height: auto;
}


.map-svg {
    flex: 0 0 75%;
}


.country-info {
    flex: 0 0 25%;
    background-color: black;
    color: white;
    border-radius: 25px;
}


.allPaths {
    fill: black;
    stroke: black;
}

.allPaths:hover {
    fill: crimson;
}